@using Griffin.Wiki.Mvc3.Helpers
@model IEnumerable<Griffin.Wiki.Core.SiteMaps.DomainModels.SiteMapNode>

@{
    ViewBag.Title = "Sitemap";
}
@if (!Request.IsAjaxRequest())
{
    <h1>@ViewBag.Title</h1>
}

@Html.SiteMap()
