@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<div class="mdd_toolbar">
</div>
@Html.TextArea("content", new { @class ="mdd_editor" }) 
<div class="mdd_resizer">
</div>
<div class="mdd_preview">
</div>
