body
{
    background: url(images/snygg-bg.jpg);
    background-color: white;
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

div#title h1 {
        padding-top: 0px;
    margin-top: 0px;

}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: gray;
}

#logindisplay a:link
{
    color: gray;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: gray;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: gray;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    display: block;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    display: block;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* WIKI styles */

a.missing
{
    text-decoration: none;
    border-bottom: 1px dashed red;
    color: red;
}
del.diffmod
{
    background-color: #ffcccc;
}
ins.diffmod
{
    background-color: #ccffcc;
}
div#diff
{
    border: 1px solid #f0f0f0;
}

/** TOC menu */

#toc-container
{
    float: right;
    width: 250px;
    position: relative;
    top: 50px; /*left: -250px;*/
    overflow: hidden;
    border: 1px solid #cdcdcd;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 4px #efefef;
    -webkit-box-shadow: 4px 4px 4px #efefef;
    box-shadow: 4px 4px 4px #efefef;
}
/*
#toc-container ul
{
    border: 1px solid #cdcdcd;
    width: 200px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 4px #efefef;
    -webkit-box-shadow: 4px 4px 4px #efefef;
    box-shadow: 4px 4px 4px #efefef;
}

*/


#toc
{
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
}

#toc ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li
{
    padding: 5px 10px;
}

#toc a
{
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2
{
    padding-left: 10px;
}

#toc .toc-h3
{
    padding-left: 20px;
}

#toc .toc-active
{
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}




/** New layout */
#header nav{
	height:45px;
	margin-top:25px;
	border:1px solid #E1E1E1;
	background-color:#f8f8f8;
	}
#header nav .container{
	margin:0 auto;
	width:1000px;
}	
#header nav ul {
	margin: 0;
	width:65%;
	float:left;
	border-left:1px solid #E1E1E1;
	padding-left:0px;
	margin-left:0;
}
#header nav ul li {
	margin:0;
	float:left;
	list-style:none;
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	float: left;
	text-align: center;
}
#header nav ul li.current_page_item:hover{
	background:none;
}
#header nav ul li.current_page_item a,#header nav ul li a:hover {
	color:#000;
}
#header nav ul li a {
	color:#777;
	font-size:90%;
	line-height:21px;
	text-decoration: none;
}
#header nav a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 12px 20px;
	text-decoration: none;
}
#header nav ul ul {
	display: none;
	position: absolute;
	z-index: 99;
	border:none;
	float: left;
	width: 180px;
	margin-left:-1px;
	padding-left:0;
}
#header nav ul ul li {
	min-width: 180px;
	margin: 0;
	height:33px;
	border:1px solid #E1E1E1;
}
#header nav ul ul ul {
	left: 100%;
	top:-33px;
	position:relative;
}
#header nav ul ul a {
	background: #F8F8F8;
	line-height: 1em;
	padding: 10px;
	border-width:1px 1px 1px 1px;
	width: 160px;
	height: auto;
}
#header nav li:hover > a,
#header nav ul ul :hover > a {
	color: #000;
}
#header nav ul li:hover > ul {
	display: block;
}



#header nav #searchform{
	float:right;
	margin-right:10px;
}
#header #searchform #gs{
	cursor: pointer;
	width:45px;
	height:44px;
	border-width:0 1px 0 0;
	border-color:#E1E1E1;
	background:#fff;
	color:#aaa	
}
#searchform #gs:active{
	border-color:#EAEAEA;
	background:#CDCDCD
}
#header nav #searchform .screen-reader-text{
	display:none;
}
#header nav #searchform input#s{
	background: #FFF;
	padding: 15px 0 0 15px;
	float:left;
	border-width:0 0 0 1px;
	color:#aaa;	
	border-color:#E1E1E1;
	height: 30px;
	width: 110px;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}
#header nav #searchform input#s:focus {
    width: 237px;
}
#main
{
    background: url(images/snygg-bg.jpg);
}
#header { background: white;margin-top: -10px;}