body
{
    background: url(images/snygg-bg.jpg);
    background-color: white;
    /*font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;*/
    font: normal 14px/22px "Arial Unicode MS", Arial, Helvetica, sans-serif; color: #4d5357;letter-spacing: -0.2px;
    margin: 0;
    padding: 0;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

div#title h1
{
    padding-top: 0px;
    margin-top: 0px;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: gray;
}

#logindisplay a:link
{
    color: gray;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: gray;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: gray;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    display: block;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    display: block;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
    
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* WIKI styles */

a.missing
{
    text-decoration: none;
    border-bottom: 1px dashed red;
    color: red;
}
del.diffmod
{
    background-color: #ffcccc;
}
ins.diffmod
{
    background-color: #ccffcc;
}
div#diff
{
    border: 1px solid #f0f0f0;
}

/** TOC menu */

#pagemap
{
    display: none;
    background:gray;
    width: 250px;
    position: relative;
    top: 10px;
    left: -5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 4px #efefef;
    -webkit-box-shadow: 4px 4px 4px #efefef;
    box-shadow: 4px 4px 4px #efefef;
}

#sitemap
{
    display: none;
    background:gray;
    width: 250px;
    position: relative;
    top: 10px;
    left: -5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 4px 4px 4px #efefef;
    -webkit-box-shadow: 4px 4px 4px #efefef;
    box-shadow: 4px 4px 4px #efefef;
}

#pagemap ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#pagemap li
{
    padding: 5px 10px;
}

#pagemap a
{
    text-decoration: none;
    display: block;
}

#pagemap .toc-h2
{
    padding-left: 10px;
}

#pagemap .toc-h3
{
    padding-left: 20px;
}

#pagemap .toc-active
{
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}

body
{
	text-align:center;
	background:url(images/snygg-bg.jpg);
	margin:40px 0;
	padding:0;
}

.header
{
	position:fixed;
	height:49px;
	border-bottom:1px solid #ccc;
	background:#f0f0f0;
	top:0;
	width:100%;
}

.header .container
{
	padding:5px;
}

.header .menu
{
    text-align: left;
	/*border:1px dashed #333;*/
	width:1024px;
	margin:0 auto;
	padding:15px;
}

.header .left-bar
{
	float:left;
	padding:5px;
}


.header .right-bar
{
	float:right;
	padding:5px;
}


.header .right-bar input
{
	border: 1px solid #cccccc;
    padding: 5px;
    color: gray;
}

.content-wrapper
{
	background:#FFF;
	text-align:left;
	width:1024px;
	margin:0 auto;
	padding:15px;
}

img {
    border: none;
}

.dialog-container { text-align: left;}
code { background: aliceblue;border: 1px solid #f0f0f0;}
pre > code { background-color: aliceblue;}

/* Sitemap */

ul.sitemap, ul.sitemap ul { list-style: none; padding-left: 0 }
ul.sitemap li, ul.sitemap ul li { padding-left: 0;margin-left: 10px; }
ul.sitemap a { color: #333333;text-decoration: none; }
ul.sitemap li.current > a, ul.sitemap ul li.current > a { font-weight: bold; color: black}