@using Griffin.Wiki.Mvc3.Helpers
@using Griffin.Wiki.Mvc3.Helpers
@model Griffin.Wiki.Core.Pages.DomainModels.WikiPage
@{
    ViewBag.Title = "Created " + Model.Title + "(" + Model.PagePath + ")";
}
<h2>@ViewBag.Title</h2>
<p>
    You have successfully created the page.</p>
<p>
    Would you like to create a template which will be used for all future child pages?</p>
<p>
    Templates are used to create a initial structure for all created child pages and
    to give an instruction on how the template should be used.
</p>

<ul>
    <li>@Html.ActionLink("Yes, I want to create a template", "CreateFor", "Template", new{pageName = @Model.PagePath}, null)</li>
    <li>@Html.WikiPageLink("No, show me the page", Model.PagePath)</li>
</ul>