@{
    ViewBag.Title = "You may not create pages";
}

<h2>@ViewBag.Title</h2>
<p>The page that you tried to access do not exist and you do not have enough privileges to create it.</p>
<p>Contact the administrator if you should have enough privileges.</p>
